<div class="header">
  <div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col logo_section" style="padding: 0 0 0 5%;">
        <div class="full">
          <div class="center-desk">
            <div class="logo"> <a href="index.html"><img src="../../../assets/images/menumaster.png" alt="#" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <div class="menu-area">
          <div class="limit-box">
            <nav class="main-menu">
              <!-- <ul class="menu-area-main">
                <li class="active"> <a href="index.html">Home</a> </li>
                <li> <a routerLink="/MeusPedidos">Meus Pedidos</a> </li>
                <li> <a href="#service"> Service</a> </li>
                <li> <a></a>
                </li>
              </ul> -->
            </nav>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col" style="display: inline; padding: 0 5%;">
        <div class="full">
          <div class="center-desk">
            <app-login></app-login>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header inner -->
