*.cs linguist-language=C#
*.cshtml linguist-language=C#
*.csproj linguist-language=C#
*.config linguist-language=C#
*.sln linguist-language=C#
*.dll linguist-vendored=true
*.exe linguist-vendored=true
*.png linguist-vendored=true