@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registro Efetuado com Sucesso.";
}

<h1>@ViewData["Title"]</h1>

<p>
    Após a solicitação de registro é necessário solicitar a liberação para o administrador do site. 
    <br />
    Retornar para a Tela de <a asp-action="/Login"> Login</a> 
</p>


