body {
}

.ContainerFormCR {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

@media print {
    .no-print {
        display: none;
    }

    body {
        font-size: 12pt;
    }
}